[Unit]
Description=Vite Frontend Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/prog_database/frontend
ExecStart=/usr/bin/npm run dev -- --host 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
